body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    color: #c19ee0;
    font-size: 36px;
    margin-left: 15px;
}

.nav_ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav_ul_li {
    margin-right: 15px;
}

.nav_ul_li_a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.nav_ul_li_a:hover {
    color: #c19ee0;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 80px; */
}

.intro>div {
    flex: 1;
}

.intro img {
    height: 900px;
}

.main-heading {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 0;
    color: #333;
    padding-left: 10%;
}

.main-heading span {
    color: #c19ee0;


}

.intro-text {
    font-size: 24px;
    color: #666;
    margin-bottom: 20px;
    margin-left: 10%;
}

.cta {
    display: inline-block;
    background-color: #c19ee0;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-left: 10%;
    font-size: 20px;
    margin-top: 3%;
}

.cta:hover {
    background-color: #e65136;
}

.bouquet-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2%;
}

.bouquet {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.b_h3 {
    font-size: 20px;
    /* margin-bottom: 1rem; */
}

.p_h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-style: bold;
}

.shop-button {
    margin-bottom: 2%;
    display: inline-block;
    /* background-color: #c19ee0; */
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-left: 46.5%;
    font-size: 20px;
}

.blog-box {
    background-color: #CCE7FC;
    width: auto;
    height: 400px;
    display: flex;
    align-items: center;
}

.blog-box-img {
    margin-left: 5%;
    height: 400px;
}

.blog-box>div {
    flex: 1;
}

.blog-box h3 {
    margin-left: 30%;
    font-size: 40px;
    font-style: italic;

}

.blog-box p {
    margin-left: 30%;
    color: #333;
    font-style: italic;
    font-size: 23px;
    margin-top: 0%;
}

.blog-button {
    margin-bottom: 2%;
    display: inline-block;
    background-color: #131212;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-left: 46.5%;
    font-size: 20px;
    margin-top: 2%;
}

.contact-section {
    display: flex;
    margin-left: 5%;
}

.contact-info {
    flex: 1;
    padding-right: 20px;
    font-size: 20px;
}

.email-form {
    flex: 1;
}

.email-form h3 {
    margin-top: 0;
}

.email-form input,
.email-form textarea {
    width: 600px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.email-form button {
    background-color: #c19ee0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.email-form button:hover {
    background-color: #e65136;
}